{% extends "base.html" %}

{% block main %}
<div class="welcome">
  <h1 class="title">ようこそ Django スニペットへ</h1>
  <p class="subtitle">あなたの知見を共有しましょう</p>
  <a href="{% url 'snippet_new' %}" class="btn btn-primary"
    >スニペットを作成する</a
  >
</div>

{% if page_obj %}
<table class="table">
  <thead>
    <tr>
      <th>投稿者</th>
      <th>投稿日</th>
      <th>タイトル</th>
      <th>コメント数</th>
    </tr>
  </thead>
  <tbody>
    {% for snippet in page_obj %}
    <tr>
      <th>{{ snippet.created_by }}</th>
      <th>{{ snippet.created_at }}</th>
      <th>
        <a href="{% url 'snippet_detail' snippet.id %}">
          {{ snippet.title }}
        </a>
      </th>
      <th>{{ snippet.comments.all|length }}</th>
    </tr>
    {% endfor %}
  </tbody>
</table>
<nav aria-label="Page navigation">
  <ul class="pagination">
    <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
      <a href="?page=1" class="page-link" aria-label="First">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% for page in page_obj.paginator.page_range %}
    <li class="page-item {% if page_obs.number == page %}active{% endif %}">
      <a href="?page={{ page }}" class="page-link">{{ page }}</a>
    </li>
    {% endfor %}
    <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
      <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link" aria-label="Last">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
{% else %}
<p>スニペットはまだ投稿されていません。</p>
{% endif %}
{% endblock %}
