{% load static %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}

<html>
  <head>
    <meta charset="utf-8" />
    <title>Django スニペット</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'snippets/css/style.css' %}" />
    {% block extraheader %} {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand flex-md-row navbar-dark bg-dark">
      <div class="container justify-content-between">
        <a href="/" class="navbar-brand"
          >Django スニペット {% bs_icon 'code-slash' size='1.5rem' %}</a
        >
        <ul class="navbar-nav mr-md-2">
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button"
              data-bs-toggle="dropdown" aria-expanded="false"
              >こんにちは {{ user.username }} さん</a
            >
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'mypage' %}">マイページ</a></li>
              <li><a class="dropdown-item" href="#">アカウント情報の変更</a></li>
              <li><a class="dropdown-item" href="#">パスワードの変更</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}">ログアウト</a></li>
            </ul>
          </li>
          {% else %}
          <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">ログイン</a></li>
          <li class="nav-item"><a href="{% url 'signup' %}" class="nav-link">会員登録</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <main>
      <div class="container">
        {% block main %}{% endblock %}
      </div>
    </main>
  </body>
</html>
