[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-bootstrap5 = "*"
django-pygments-renderer = "*"
django-debug-toolbar = "*"
django-taggit = "*"
taggit-selectize = "*"
six = "*"
django-bootstrap-icons = "*"

[dev-packages]

[requires]
python_version = "3.8"
